:root{
    --inputs-bg: #111;
    --game-bg: #222;
    --input-bg: #bbb;
}

html, body, main{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game{
    width: 100%;
    height: 80%;
    background-color: var(--game-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inputs{
    width: 50%;
    height: 20%;
    background-color: var(--inputs-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0 25%;
}

dialog[open]{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--inputs-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 10%;
    margin: 0;
    border: 0;
}

dialog{
    display: none;
}

dialog input, #inputs button, dialog button{
    padding: 1em;
    border: 0;
    border-radius: .25em;
    background-color: var(--input-bg);
}

dialog h1{
    color: var(--input-bg);
    font-family: sans-serif;
}

dialog input, dialog button{
    width: 25%;
}

#inputs button{
    width: 80%;
}

#inputs button, dialog button{
    cursor: pointer;
}

#inputs button:disabled{
    cursor: default;
}

#game .line{
    display: flex;
    flex-direction: row;
}

#game .line .grass-1, #game .line .grass-2, #game .line .grass-3{
    width: 1.5em;
    height: 1.5em;
}

#game .line .grass-1{
    background-color: lightgreen;
}

#game .line .grass-2{
    background-color: green;
}

#game .line .grass-3{
    background-color: darkgreen;
}

@media screen and (max-width: 1100px) {
    #inputs{
        width: 80%;
        padding: 0 10%;
    }
}

@media screen and (max-width: 960px) {
    dialog input, dialog button{
        width: 50%;
    }
}

@media screen and (max-height: 750px) and (max-width: 650px) {
    #inputs{
        height: 50% !important;
    }

    #game{
        height: 50% !important;
    }
}

@media screen and (max-width: 650px) {
    #inputs{
        height: 40%;
        flex-direction: column;
        width: 60%;
        padding: 0 20%;
    }
}

@media screen and (max-width: 450px) {
    dialog input, dialog button{
        width: 80%;
    }

    #inputs{
        height: 40%;
        flex-direction: column;
        width: 80%;
        padding: 0 10%;
    }
}

@media screen and (max-height: 500px), (max-width: 200px) {
    #inputs, #game, dialog{
        display: none !important;
    }
}