:root{
    --inputs-bg: #111;
    --game-bg: #222;
    --input-bg: #bbb;
}

html, body, main{
    background-color: var(--game-bg);
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game{
    width: 100%;
    height: 80%;
    background-color: var(--game-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

#inputs{
    width: 50%;
    height: 20%;
    background-color: var(--inputs-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 0 25%;
    z-index: 9998;
}

dialog[open]{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: var(--inputs-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding: 10%;
    margin: 0;
    border: 0;
    z-index: 9999;
}

dialog{
    display: none;
}

dialog input, #inputs button, dialog button{
    padding: 1em;
    border: 0;
    border-radius: .25em;
    background-color: var(--input-bg);
}

dialog h1{
    color: var(--input-bg);
    font-family: sans-serif;
}

dialog input, dialog button{
    width: 25%;
}

#inputs button{
    width: 80%;
}

#inputs button, dialog button{
    cursor: pointer;
}

#inputs button:disabled{
    cursor: default;
}

#game .line{
    display: flex;
    flex-direction: row;
}

#game .line .grass-1,
#game .line .grass-2,
#game .line .grass-3{
    width: calc(50vw / var(--mapW));
    height: calc(50vh / var(--mapH));
    display: flex;
}

#game .line:first-child > *:first-child{
    border-radius: .25em 0 0 0;
}

#game .line:first-child > *:last-child{
    border-radius: 0 .25em 0 0;
}

#game .line:last-child > *:first-child{
    border-radius: 0 0 0 .25em;
}

#game .line:last-child > *:last-child{
    border-radius: 0 0 .25em 0;
}

#game .line > *{
    border-radius: .05em;
}

#game .line * > img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
}

#game .line .grass-1{
    background-color: #78A75A;
}

#game .line .grass-2{
    background-color: #48752C;
}

#game .line .grass-3{
    background-color: #314D1C;
}

@media screen and (max-width: 1100px) {
    #inputs{
        width: 80%;
        padding: 0 10%;
    }
}

@media screen and (max-width: 960px) {
    dialog input, dialog button{
        width: 50%;
    }
}

@media screen and (max-height: 750px) and (max-width: 650px) {
    #inputs{
        height: 50% !important;
    }

    #game{
        height: 50% !important;
    }

    #game .line .grass-1,
    #game .line .grass-2,
    #game .line .grass-3{
        width: calc(40vw / var(--mapW));
        height: calc(40vh / var(--mapH));
    }
}

@media screen and (max-width: 650px) {
    #inputs{
        height: 40%;
        flex-direction: column;
        width: 60%;
        padding: 0 20%;
    }
}

@media screen and (max-width: 450px) {
    dialog input, dialog button{
        width: 80%;
    }

    #inputs{
        height: 40%;
        flex-direction: column;
        width: 80%;
        padding: 0 10%;
    }
}

@media screen and (max-height: 500px), (max-width: 200px) {
    #inputs, #game, dialog{
        display: none !important;
    }
}